development:
  channel_id: '***'
  channel_secret: '***'
  mid: '***'
test:
  channel_id: '***'
  channel_secret: '***'
  mid: '***'
production:
  channel_id: '***'
  channel_secret: '***'
  mid: '***'

